body {
    background-image: url();
    background-size: cover;
    background-color: blueviolet;
}


.painel {
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin: auto;
    text-align: center;
    color: black;
    font-family: fantasy;
    padding-left: 40px;
}

.botao {
    width: 60px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
}

img {
    animation: rotacionar 5s infinite alternate;
}

@keyframes rotacionar {
0%{
transform: rotate3d(0,1,0, 0deg);
}
100%{
    transform: rotate3d(0,1,0, 360deg);
}
}