.fundo{
    width: 100%;                                /*ocupar toda tela*/
    height: 600px;                  /*altura*/
    border-bottom: 6px solid orange;          /*borda*/
    overflow: hidden;
    background-position: center;
    background-size: cover;            /*img de fundo ajustada*/
    position: relative;                /*posição nunca muda*/                
    background-attachment: fixed;      /*deixa imagem de fundo fixa*/
    background-image: url( https://1.bp.blogspot.com/-P4-bMtMEFKY/T_iFFmbsYcI/AAAAAAAAAbw/GC4u6qO9psI/s1600/HOTEL%2BSESC%2BCAIOBA001.jpg );                 
}

.aviao{
    width: 350px;
    position: absolute;
    right: -200px;
    top: 200px;
}

.card{
    margin-bottom: 30px;
    box-shadow: 2px 2px black;
}

.card:hover{
    width: 25rem !important;
    transition: 2s;
}

.carousel{
    box-shadow: 2px 2px black;
}

.rodape{
    color: white;
    padding-top: 30px;
    border-top: 5px solid orange;
    padding-bottom: 30px;
}

a{
    color: white !important;
}